@charset "utf-8";
/*==== reset css ====*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 12px;
  font-family: "Microsoft YaHei", sans-serif;
}
/*==== common css ====*/
/*==== model css ====*/
